.recipe-card {
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 18rem;
  padding: 5px;
  border-radius: 10px;
}


.recipeimage {
  width: 100%;
  height:auto;
  max-height: 340px;
  display: block;
  border-radius: 10px;
}

.btn-primary {
  background-color: #678FA3;
  border-color: #678FA3;
}

.btn-primary:hover {
  background-color: #2E4957;
  border-color: #2E4957;
}
